/* TODO - set font and link styles and import them here */
.link {
  display: block;
  padding: 1em 2em;
  color: var(--text-color);
}

.link:hover {
  color: var(--terminal-color);
}

.header {
  margin-top: 1em;
}
